.code-view {
  display: table;
  table-layout: fixed;
  background-color: inherit;
}
.code-linegroup {
  display: table-row-group;
  background-color: inherit;
}
.code-line {
  display: table-row;
  white-space: pre;
  font-family: Menlo, monospace;
  background-color: inherit;
}
.code-linecell {
  display: table-cell;
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
}
.gutter {
  width: 56px;
  text-align: right;
  color: rgba(0,0,0,.35);
  padding-right: 18px;
}
.gutter::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  color: rgba(0,0,0,.75);
}
.code-linegroup.collapsed:hover > .code-line > .gutter::after {
  font-family: icons, Menlo, monospace;
  content: "\25b6";
}
.code-linegroup.expanded:hover > .code-line:first-child > .gutter::after {
  font-family: icons, Menlo, monospace;
  content: "\25bc";
}
.code-view.hover-em .code-line:hover,
.code-line.em {
  filter: invert(100%);
}
