.editor-overlay, .editor-form {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 6000;
  overflow: hidden;
}

.editor-overlay {
  background-color:rgba(0,0,0,.75);
}

.editor-form {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  border-radius: 4px;
  margin: auto;
  margin-top: 0;
  max-height: 600px;
  max-width: 800px;
}

.presentation .editor-form {
  border-radius: 4px;
  max-height: 100%;
  max-width: 100%;
}

.editor-form > textarea {
  flex: 1;
  margin: 12px;
  padding: 4px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #303030;
  font-family: Menlo, monospace;
  resize: none;
  border: none;
}

.editor-form > .top-btn-row {
  margin-left: 12px;
}

.editor-form > .top-btn-row > button {
  margin-right: 12px;
  margin-top: 12px;
}

.editor-form > .top-btn-row:empty {
  display: none;
}

.editor-form > .bottom-btn-row {
  margin: 12px;
  margin-top: 0;
    display: flex;
}

.editor-form > .bottom-btn-row > .form-control {
    width: initial;
    margin-left: auto;
}

/***********************************************************************/

.github-url {
  border: 0;
  position: absolute;
  bottom: 0;
  right: 4px;
  color: #fff !important;
  transition: bottom 0.5s;
  z-index: 10000;
}
@media (max-width: 960px) {
  .github-url { bottom: -64px; }
}
.github-url .speach-bubble {
  display: none;
  position: absolute;
  right: 58px;
  bottom: 38px;
  font-weight: 300;
  white-space: nowrap;
  background-color: #fff;
  color: rgb(12, 12, 12);
  text-decoration: none;
  font-size: 13px;
  padding: 2px 5px;
  margin: 1px;
  border-radius: 8px 8px 0 8px;
  transition: width 0.5s height 0.53;
}
.github-url:hover .octo-arm { animation:octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
.github-url:hover .speach-bubble { display: block; }

.presentation .github-url {
  display: none;
}
