.progress-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #039be5;
  opacity: 0;
  transition: opacity 250ms;
  z-index: 10000;
}

.progress-indicator.starting {
  opacity: 1;
  transform: translateX(-100%);
  transition: none;
}

.progress-indicator.running {
  opacity: 1;
  transform: translateX(-20%);
  transition: transform 1s, opacity 250ms;
}

.progress-indicator.finishing {
  opacity: 1;
  transform: translateX(0);
  transition: transform 150ms, opacity 250ms;
}
