.control-panel {
  background-color: #303030;
}
.control-panel .toolbar-area {
  background-color: inherit;
  z-index: 501;
  position: relative;
  /* otherwize pane-divider's negative margin wreacks havoc */
  display: flex;
  flex-direction: column;
}
