.toolbar-btn {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 4px;
  font-size: 13px;
  color: #a0a0a0;
  border-color: #555;
  cursor: default;
  line-height: 1;
  margin: 0px 2px;
  vertical-align: middle;
  font-weight: 400;
}

.toolbar-btn:first-child {
  margin-left: 0px;
}

.toolbar-btn:last-child {
  margin-right: 0px;
}

.toolbar-btn:hover {
  background-color: #eee;
  color: #000;
}

.toolbar-btn:active {
  background-color: #ddd;
  color: #000;
  border-color: #000;
}
