.toolbar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.toolbar.primary {
  height: 34px;
  font-size: 15px;
}

.toolbar.secondary {
  height: 30px;
  font-size: 13px;
}

.toolbar-group {
  /* necessary to make controls appear on top of the pane divider */
  position: relative;
  z-index: 1000;
}
.toolbar.primary .toolbar-group {
  z-index: 1001;
}

.toolbar-group.left {
  position: absolute;
  left: 0;
}

.toolbar-group.right {
  position: absolute;
  right: 0;
}
