.toolbar {
  padding: 4px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 28px;
  background-color: #303030;
  position: relative;
  z-index: 4000;
  overflow: hidden;
}

.toolbar-group.left {
  position: absolute;
  left: 0;
}

.toolbar-group.right {
  position: absolute;
  right: 0;
}

.presentation .toolbar {
  height: 12px;
}

.presentation .toolbar > * {
  visibility: hidden;
}

.presentation .toolbar.hover {
  overflow: visible;
  height: 28px;
  margin-bottom: -16px;
  z-index: 4000; /* on top of resizer strips */
}

.presentation .toolbar.hover > * {
  visibility: visible;
}
