.g-wrapper {
  display: table;
  margin: 0 auto;
}

.g-trace-thumb > text {
  font-weight: 300;
  font-size: 14px;
}
.g-trace-thumb > .g-ring {
  stroke: #000000;
  fill: #e6e6e6;
}
.g-trace-thumb > .g-outter-ring {
  stroke: #000000;
  fill: transparent;
}

.g-trace-thumb:hover > .g-ring {
  fill: #e0ff30;
}

.g-trace-thumb.active > .g-outter-ring {
  stroke: #337ab7;
}
.g-trace-thumb.active > .g-ring {
  fill: #337ab7 !important;
  stroke: #337ab7;
}
.g-trace-thumb.active > text {
  fill: #ffffff;
}

.g-trace-thumb.error > .g-ring {
  stroke: red;
  fill: #ffe6e6;
}
.g-trace-thumb.error > .g-outter-ring {
  stroke: red;
}
.g-trace-thumb.error > text {
  fill: red;
}
.g-trace-thumb.error:hover > .g-ring {
  fill: #e0ff30;
}

.g-trace-thumb.error.active > .g-ring {
  fill: red !important;
  stroke: red;
}
.g-trace-thumb.error.active > .g-outter-ring {
  stroke: red;
}
.g-trace-thumb.error.active > text {
  fill: #ffffff;
}

/***********************************************************************/

.g-trace-link > path {
  stroke: #000000;
}
.g-trace-link > polygon {
  fill: #000000;
}
.g-trace-link.stitch > path {
  stroke-dasharray: 1 3;
  stroke-linecap: round;
}
