.app-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.top-pane {}

.app-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.primary-pane, .left-pane, .right-pane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.primary-pane {
    flex: 1;
}

.left-pane, .right-pane {
    background-color: #fafafa;
    flex: 0 0 300px;
}

.left-pane {
    border-right: solid 1px #999;
}

.right-pane {
    border-left: solid 1px #999;
}

.pane-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16px;
    z-index: 2000;
    cursor: col-resize;
}

.primary-pane .pane-resizer {
    display: none;
}

.left-pane .pane-resizer {
    right: 0;
    margin-right: -8px;
}

.right-pane .pane-resizer {
    left: 0;
    margin-left: -8px;
}

.content-host {
    flex: 1;
    position: relative;
    cursor: default;
}

.content-area {
    display: block;
    padding: 12px;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.primary-pane .content-area {
    padding: 2em 1.5em .5em 1.5em;
}

.content-placeholder {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #c0c0c0;
}

.primary-pane .panel {
    overflow: hidden; /* curved corners protrusion */
}

.primary-pane .panel-heading {
    padding: 7px 8px;
}

.primary-pane .panel-heading .panel-title {
    font-size: 15px;
    letter-spacing: .7px;
    font-weight: 500;
    line-height: 1;
    border-color: #c8c8c8;
}

.primary-pane .panel-default > .panel-heading {
		background-color: #e6e6e6;
}

.toolbar {
    padding: 4px;
    border-bottom: solid 1px #999;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 29px;
    background-color: #fff;
}

.toolbar-group {}

.toolbar-btn {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 4px;
    font-size: 13px;
    color: #555;
    border-color: #555;
    cursor: default;
    line-height: 1;
    margin: 0px 2px;
    vertical-align: middle;
    font-weight: 400;
}

.toolbar-btn:first-child {
    margin-left: 0px;
}

.toolbar-btn:last-child {
    margin-right: 0px;
}

.toolbar-btn:hover {
    background-color: #eee;
    color: #000;
}

.toolbar-btn:active {
    background-color: #ddd;
    color: #000;
    border-color: #000;
}

.toolbar-sw-on, .toolbar-sw-on:hover, .toolbar-sw-on:active {
    color: rgb(39, 134, 243);
    border-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on {
    color: #fff;
    background-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on:active {
    background-color: rgb(36, 109, 233);
}

.toolbar-em .toolbar-sw-off:hover {
    color: white;
    background-color: rgb(147, 195, 249);
}

.toolbar-em .toolbar-sw-off:active {
    color: white;
    background-color: rgb(136, 189, 248);
}

.pane-toggle-icon {
    display: inline-block;
    border: solid 1px;
    padding: 1px;
    font-size: 10px;
}

.top-pane textarea {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 8px;
    margin: 10px 10px 0px 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: Menlo, monospace;
    background-color: #f8f8ec;
}

.invisible { display: none; }

.code-block {
    list-style-type: none;
    padding: 0em;
    margin-bottom: 0;
}

.code-line {
    font-family: Menlo, monospace;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    max-width: 100%;
}

.code-line:hover { filter: invert(100%); }

.gutter {
    display: inline-block;
    width: 3.5em;
    padding-left: .4em;
    padding-right: .4em;
    text-align: right;
    margin-left: .0em;
    margin-right: .6em;
    border-right: solid 1px rgba(0,0,0,.25);
    font-family: Helvetica, Arial, monospace;
}

.gutter .shevron {
    display: inline-block;
    float: left;
    font-family: Menlo, monospace;
    font-size: 90%;
    visibility: hidden;
}

.code-line:hover .gutter .shevron { visibility: visible; }

.code-line:active .gutter .shevron { font-size: 100%; }

.code-line-lua   { background-color: #ffffb0; }
.code-line-luabc { background-color: #ffffd0; }

/* increase contrast in mixed mode */
.func-proto-view-mixed .code-line-lua  { background-color: #ffffa0; }

.active-jump-target { filter:invert(100%); }

.jump-cmd { cursor: pointer; }

/* create some breathing space between lua / luabc sections */
.func-proto-view-lua   .code-block .code-block .code-line:first-child .gutter,
.func-proto-view-mixed .code-block .code-block .code-line:first-child .gutter { padding-top:.35em; }
.func-proto-view-lua   .code-block .code-block .code-line:last-child  .gutter,
.func-proto-view-mixed .code-block .code-block .code-line:last-child  .gutter { padding-bottom:.35em; }


/***********************************************************************/

.prop-list-view {
		display: table;
}

.prop-list-item {
		display: table-row;
}

.prop-list-item-label, .prop-list-item-value {
		display: table-cell;
}

.prop-list-item-label {
		font-weight: 500;
		text-align: right;
		white-space: nowrap;
		padding-right: 16px;
}

.prop-list-item-label:after {
		content: ":";
}

.prop-list-item-value .error {
		color: red;
		font-style: italic;
}

/***********************************************************************/

.xcode-view {
		display: table;
}
.xcode-line {
		display: table-row;
}
.xcode-line > .gutter-area,
.xcode-line > .xcode-area {
		display: table-cell;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
.xcode-line > .xcode-area {
		font-family: Menlo, monospace;
}
.xcode-line.em {
		filter: invert(100%);
}

/***********************************************************************/

.right-pane .prop-list-view,
.right-pane .xcode-view {
		margin-bottom: 24px;
		margin-top: 6px;
}

.right-pane .xcode-line > .gutter-area {
		text-align: right;
		white-space: nowrap;
		padding-right: 8px;
		padding-left: 4px;
		color: #808080;
		min-width: 28px;
}

.xcode-view.consts .xcode-line > .gutter-area {
		padding-left: 0;
}

.right-pane .xcode-line > .xcode-area {
		padding-left: 8px;
		padding-right: 4px;
}

.xcode-view.ir .xcode-line:hover {
		filter: invert(100%);
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line {
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line > .gutter-area {
		padding-right: 0px;
}

/***********************************************************************/

.trace-thumb {
		margin: 12px auto;
		margin-bottom: 24px;
		max-width: 48px;
		width: 100%;
}

.trace-thumb > div {
		width: 48px;
		height: 48px;
		font-size: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 24px;
		background-color: #e6e6e6;
		border: solid 1px #c8c8c8;
}

.trace-thumb.special {
		padding: 4px;
		max-width: 58px;
		border: solid 1px #c8c8c8;
		border-radius: 100px;
}

.trace-thumb.error {
		border-color: red !important;
}

.trace-thumb.error > div {
		color: red;
		border-color: red;
		background-color: #ffe6e6;
}

.trace-thumb:hover > div {
		background-color: #ffd800;
}

.trace-thumb.special.active {
		border-color: #337ab7;
}

.trace-thumb.active > div {
		background-color: #337ab7;
		color: #ffffff;
		border-color: #337ab7;
}

.trace-thumb.error.active {
		background-color: #ffe6e6;
}
.trace-thumb.error.active > div {
		color: #ffe6e6;
}
