.app-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.top-pane {}

.app-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.primary-pane, .left-pane, .right-pane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.primary-pane {
    flex: 1;
}

.left-pane, .right-pane {
    background-color: #fafafa;
    flex: 0 0 300px;
}

.left-pane {
    border-right: solid 1px #999;
}

.right-pane {
    border-left: solid 1px #999;
}

.pane-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16px;
    z-index: 2000;
    cursor: col-resize;
}

.primary-pane .pane-resizer {
    display: none;
}

.left-pane .pane-resizer {
    right: 0;
    margin-right: -8px;
}

.right-pane .pane-resizer {
    left: 0;
    margin-left: -8px;
}

.content-host {
    flex: 1;
    position: relative;
    cursor: default;
}

.content-area {
    display: block;
    padding: 12px;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.primary-pane .content-area {
    padding: 2em 1.5em .5em 1.5em;
}

.content-placeholder {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #c0c0c0;
}

.primary-pane .panel {
    overflow: hidden; /* curved corners protrusion */
}

.primary-pane .panel-heading {
    padding: 7px 8px;
}

.primary-pane .panel-heading .panel-title {
    font-size: 15px;
    letter-spacing: .7px;
    font-weight: 500;
    line-height: 1;
    border-color: #c8c8c8;
}

.primary-pane .panel-default > .panel-heading {
		background-color: #e6e6e6;
}

.toolbar {
    padding: 4px;
    border-bottom: solid 1px #999;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 29px;
    background-color: #fff;
}

.toolbar-group {}

.toolbar-btn {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 4px;
    font-size: 13px;
    color: #555;
    border-color: #555;
    cursor: default;
    line-height: 1;
    margin: 0px 2px;
    vertical-align: middle;
    font-weight: 400;
}

.toolbar-btn:first-child {
    margin-left: 0px;
}

.toolbar-btn:last-child {
    margin-right: 0px;
}

.toolbar-btn:hover {
    background-color: #eee;
    color: #000;
}

.toolbar-btn:active {
    background-color: #ddd;
    color: #000;
    border-color: #000;
}

.toolbar-sw-on, .toolbar-sw-on:hover, .toolbar-sw-on:active {
    color: rgb(39, 134, 243);
    border-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on {
    color: #fff;
    background-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on:active {
    background-color: rgb(36, 109, 233);
}

.toolbar-em .toolbar-sw-off:hover {
    color: white;
    background-color: rgb(147, 195, 249);
}

.toolbar-em .toolbar-sw-off:active {
    color: white;
    background-color: rgb(136, 189, 248);
}

.pane-toggle-icon {
    display: inline-block;
    border: solid 1px;
    padding: 1px;
    font-size: 10px;
}

.top-pane textarea {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 8px;
    margin: 10px 10px 0px 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: Menlo, monospace;
    background-color: #f8f8ec;
}

/***********************************************************************/

.prop-list-view {
		display: table;
}

.prop-list-item {
		display: table-row;
}

.prop-list-item-label, .prop-list-item-value {
		display: table-cell;
}

.prop-list-item-label {
		font-weight: 500;
		text-align: right;
		white-space: nowrap;
		padding-right: 16px;
}

.prop-list-item-label:after {
		content: ":";
}

.prop-list-item-value .error {
		color: red;
		font-style: italic;
}

/***********************************************************************/

.xcode-view {
		display: table;
}
.xcode-line-group {
		display: table-row-group;
}
.xcode-line {
		display: table-row;
}
.xcode-line > .xgutter,
.xcode-line > .xcode {
		display: table-cell;
}
.xcode-line > .xcode > div {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
.xcode-line > .xcode {
		font-family: Menlo, monospace;
		width: 100%;
}
.xcode-line.em {
		filter: invert(100%);
}

/***********************************************************************/
.xcode-view.primary {
		width:100%;
		table-layout:fixed;
}
.xcode-view.primary .xgutter {
		width: 46px;
		padding: 0 6px;
		text-align: right;
		border-right: solid rgba(0,0,0,.25) 1px;
}
.xcode-view.primary .xcode {
		width: 100%;
		padding: 0 6px;
}
.xcode-view.lua .xcode-line-group.luabc,
.xcode-view.luabc .xcode-line-group.lua {
		display: none;
}
.xcode-view.lua .xcode-line-group.luabc.expanded {
		display: table-row-group;
}
.xcode-line-group.lua > .xcode-line {
		background-color: #ffffb0;
}
.xcode-line-group.luabc > .xcode-line {
		background-color: #ffffd0;
}
.xcode-view.mixed .xcode-line-group.lua > .xcode-line {
		background-color: #ffffa0;
}
.xcode-view.lua   .xcode-line-group.luabc .xcode-line:first-child .xgutter,
.xcode-view.mixed .xcode-line-group.luabc .xcode-line:first-child .xgutter {
		padding-top: 4px;
}
.xcode-view.lua   .xcode-line-group.luabc .xcode-line:last-child .xgutter,
.xcode-view.mixed .xcode-line-group.luabc .xcode-line:last-child .xgutter {
		padding-bottom: 4px;
}

.xcode-view.primary .xcode-line:hover {
		filter: invert(100%);
}

.xgutter > .shevron {
		float: left;
}
.xgutter > .shevron:before {
		content: "▶";
		font-size: 80%;
}
.xgutter > .shevron.expanded:before {
		content: "▼";
}
.xgutter > .shevron:after {
		content: "\200B";
}

.xcode-view.primary .shevron {
		display: none;
}

.xcode-view.lua .xcode-line:hover .shevron {
		display: inline-block;
}

/***********************************************************************/

.right-pane .prop-list-view,
.right-pane .xcode-view {
		margin-bottom: 24px;
		margin-top: 6px;
}

.right-pane .xcode-line > .xgutter {
		text-align: right;
		white-space: nowrap;
		padding-right: 12px;
		padding-left: 4px;
		color: #808080;
		min-width: 28px;
}

.xcode-view.consts .xcode-line > .xgutter {
		padding-left: 0;
}

.right-pane .xcode-line > .xcode {
		padding-left: 4px;
		padding-right: 4px;
}

.xcode-view.ir .xcode-line:hover {
		filter: invert(100%);
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line {
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line > .xgutter {
		padding-right: 0px;
}

/***********************************************************************/

.trace-thumb {
		margin: 12px auto;
		margin-bottom: 24px;
		max-width: 48px;
		width: 100%;
}

.trace-thumb > div {
		width: 48px;
		height: 48px;
		font-size: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 24px;
		background-color: #e6e6e6;
		border: solid 1px #c8c8c8;
}

.trace-thumb.special {
		padding: 4px;
		max-width: 58px;
		border: solid 1px #c8c8c8;
		border-radius: 100px;
}

.trace-thumb.error {
		border-color: #ffb0b0;
}

.trace-thumb.error > div {
		color: red;
		border-color: #ffb0b0;
		background-color: #ffe6e6;
}

.trace-thumb:hover > div {
		background-color: #ffd800;
}

.trace-thumb.special.active {
		border-color: #337ab7;
}

.trace-thumb.active > div {
		background-color: #337ab7;
		color: #ffffff;
		border-color: #337ab7;
}

.trace-thumb.error.active {
		border-color: red;
}
