div.jumbotron {
    padding: 1em;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    padding: .7em;
    white-space: nowrap;
    overflow: auto;
    font-family: Menlo,monospace !important;
}

.invisible { display: none; }

.plaque-wrapper { min-height: 1em; }

.toplevel-block { padding: 2.5%; }

.func-proto-view {
    overflow: hidden;
}

.code-block {
    list-style-type: none;
    padding: 0em;
    margin-bottom: 0;
}

.code-line {
    font-family: Menlo, monospace;
    font-weigth: 100;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    cursor: default;
}

.code-line:hover { filter: invert(100%); }

.gutter {
    display: inline-block;
    width: 3.5em;
    padding-left: .4em;
    padding-right: .4em;
    text-align: right;
    margin-left: .0em;
    margin-right: .6em;
    border-right: solid .08em #000;
}

.gutter .shevron {
    display: inline-block;
    float: left;
    heigth: 100%;
    font-size: 90%;
    visibility: hidden;
}

.code-line:hover .gutter .shevron { visibility: visible; }

.code-line-lua   { background-color: #ffffb0; }
.code-line-luabc { background-color: #ffffd0; }

.active-jump-target { filter:invert(100%); }

.jump-cmd { cursor: pointer; }

/* create some breathing space between lua / luabc sections */
.func-proto-view-lua   .code-block .code-block .code-line:first-child .gutter,
.func-proto-view-mixed .code-block .code-block .code-line:first-child .gutter { padding-top:.35em; }
.func-proto-view-lua   .code-block .code-block .code-line:last-child  .gutter,
.func-proto-view-mixed .code-block .code-block .code-line:last-child  .gutter { padding-bottom:.35em; }
