.app-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.top-pane {
    background-color: #303030;
}

.app-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.primary-pane, .left-pane, .right-pane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.primary-pane {
    flex: 1;
}

.left-pane, .right-pane {
    background-color: #fafafa;
}

.pane-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16px;
    z-index: 2000;
    cursor: col-resize;
}

.presentation .pane-resizer {
    width: 8px;
}

.primary-pane .pane-resizer {
    display: none;
}

.left-pane .pane-resizer {
    right: 0;
    margin-right: -8px;
}

.presentation .left-pane .pane-resizer {
    margin-right: -4px;
}

.right-pane .pane-resizer {
    left: 0;
    margin-left: -8px;
}

.presentation .right-pane .pane-resizer {
    left: 0;
    margin-left: -4px;
}

.content-host {
    flex: 1;
    position: relative;
    cursor: default;
}

.content-area {
    display: block;
    padding: 12px;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.primary-pane .content-area {
    padding: 2em 1.5em .5em 1.5em;
}

.content-placeholder {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #c0c0c0;
}

.primary-pane .panel {
    overflow: hidden; /* curved corners protrusion */
}

.primary-pane .panel-heading {
    padding: 7px 8px;
}

.primary-pane .panel-heading .panel-title {
    font-size: 15px;
    letter-spacing: .7px;
    font-weight: 500;
    line-height: 1;
    border-color: #c8c8c8;
}

.primary-pane .panel-default > .panel-heading {
    background-color: #efefef;
}

.toolbar {
    padding: 4px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 28px;
    background-color: #303030;
    position: relative;
    z-index: 4000;
    overflow: hidden;
}

.presentation .toolbar {
    height: 12px;
}

.presentation .toolbar > * {
    visibility: hidden;
}

.presentation.toolbar-hover .toolbar {
    overflow: visible;
    height: 28px;
    margin-bottom: -16px;
    z-index: 4000; /* on top of resizer strips */
}

.presentation.toolbar-hover .toolbar > * {
    visibility: visible;
}

.presentation .toolbar-group.pane-toggle:after {
    content: "P-mode";
    color: #ffffff;
    font-variant: small-caps;
}

.presentation .toolbar-group.pane-toggle > * {
    display: none;
}

.toolbar-btn {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 4px;
    font-size: 13px;
    color: #a0a0a0;
    border-color: #555;
    cursor: default;
    line-height: 1;
    margin: 0px 2px;
    vertical-align: middle;
    font-weight: 400;
}

.toolbar-btn:first-child {
    margin-left: 0px;
}

.toolbar-btn:last-child {
    margin-right: 0px;
}

.toolbar-btn:hover {
    background-color: #eee;
    color: #000;
}

.toolbar-btn:active {
    background-color: #ddd;
    color: #000;
    border-color: #000;
}

.toolbar-sw-on, .toolbar-sw-on:hover, .toolbar-sw-on:active,
.presentation .toolbar-sw-on {
    color: rgb(39, 134, 243);
    border-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on {
    color: #fff;
    background-color: rgb(39, 134, 243);
}

.toolbar-em .toolbar-sw-on:active {
    background-color: rgb(36, 109, 233);
}

.toolbar-em .toolbar-sw-off:hover {
    color: white;
    background-color: rgb(147, 195, 249);
}

.toolbar-em .toolbar-sw-off:active {
    color: white;
    background-color: rgb(136, 189, 248);
}

.pane-toggle-icon {
    display: inline-block;
    border: solid 1px;
    padding: 1px;
    font-size: 10px;
}

.top-pane textarea {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 8px;
    margin: 10px 10px 2px 10px;
    /* white-space: nowrap; */
    color: #ffffff;
    overflow: auto;
    border: 1px #303030 solid;
    font-family: Menlo, monospace;
    background-color: #303030;
}

/***********************************************************************/

.editor-overlay, .editor-form {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 6000;
}

.editor-overlay {
    background-color:rgba(0,0,0,.75);
}

.editor-form {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    border-radius: 4px;
    margin: auto;
    margin-top: 0;
    max-height: 600px;
    max-width: 800px;
}

.presentation .editor-form {
    border-radius: 4px;
    max-height: 100%;
    max-width: 100%;
}

.editor-form > textarea {
    flex: 1;
    margin: 12px;
    padding: 4px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #303030;
    font-family: Menlo, monospace;
    resize: none;
    border: none;
}

.editor-form > .top-btn-row {
    margin-left: 12px;
}

.editor-form > .top-btn-row > button {
    margin-right: 12px;
    margin-top: 12px;
}

.editor-form > .top-btn-row:empty {
    display: none;
}

.editor-form > .bottom-btn-row {
    margin: 12px;
    margin-top: 0;
}

/***********************************************************************/

.prop-list-view {
    display: table;
}

.prop-list-item {
    display: table-row;
}

.prop-list-item-label, .prop-list-item-value {
    display: table-cell;
}

.prop-list-item-label {
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    padding-right: 16px;
}

.prop-list-item-label:after {
    content: ":";
}

.prop-list-item-value .error {
    color: red;
    font-style: italic;
}

.xcode .proto-ref {
    font-weight: bold;
}

/***********************************************************************/

.xcode-view {
    display: table;
}
.xcode-line-group {
    display: table-row-group;
}
.xcode-line {
    display: table-row;
}
.xcode-line > .xgutter,
.xcode-line > .xcode {
    display: table-cell;
}
.xcode-line > .xcode > div {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    position: relative;
    background-color: inherit;
}

.xcode-overlay {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    padding-right: 2px;
}

.xcode-overlay > span {
    background-color: #000030;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 90%;
    font-weight: 300;
    margin-left: 2px;
    color: #ffffff;
    font-family: Helvetica;
}

.xcode-line > .xcode {
    font-family: Menlo, monospace;
    width: 100%;
    background-color: inherit;
}
.xcode-line.em {
    filter: invert(100%);
}

/***********************************************************************/
.xcode-view.primary {
    width:100%;
    table-layout:fixed;
}
.xcode-view.primary .xgutter {
    width: 46px;
    padding: 0 6px;
    text-align: right;
    border-right: solid rgba(0,0,0,.25) 1px;
}
.xcode-view.primary .xcode > div {
    width: 100%;
    padding: 0 6px;
}
.xcode-view.lua .xcode-line-group.luabc,
.xcode-view.luabc .xcode-line-group.lua {
    display: none;
}
.xcode-view.lua .xcode-line-group.luabc.expanded {
    display: table-row-group;
}
.xcode-line-group.lua > .xcode-line {
    background-color: #ffffb0;
}
.xcode-line-group.luabc > .xcode-line {
    background-color: #ffffd0;
}
.xcode-view.mixed .xcode-line-group.lua > .xcode-line {
    background-color: #ffffa0;
}
.xcode-view.lua   .xcode-line-group.luabc .xcode-line:first-child .xgutter,
.xcode-view.mixed .xcode-line-group.luabc .xcode-line:first-child .xgutter {
    padding-top: 4px;
}
.xcode-view.lua   .xcode-line-group.luabc .xcode-line:last-child .xgutter,
.xcode-view.mixed .xcode-line-group.luabc .xcode-line:last-child .xgutter {
    padding-bottom: 4px;
}

.xcode-view.primary .xcode-line:hover {
    filter: invert(100%);
}

.xgutter > .shevron {
    float: left;
}
.xgutter > .shevron:before {
    content: "▶";
    font-size: 80%;
}
.xgutter > .shevron.expanded:before {
    content: "▼";
}
.xgutter > .shevron:after {
    content: "\200B";
}

.xcode-view.primary .shevron {
    display: none;
}

.xcode-view.lua .xcode-line:hover .shevron {
    display: inline-block;
}

.xcode-line-group.lua .xcode-line.active-trace {
    /* !important: override background for lua/mixed line (higher precedence) */
    background-color: #e0ff30 !important;
}
.xcode-line-group.luabc .xcode-line.active-trace {
    background-color: #e0ff78;
}
.xcode-line-group.lua .xcode-line.active-trace.error {
    /* !important: overrude another .active-trace rule */
    background-color: #ff7060 !important;
}
.xcode-line-group.luabc .xcode-line.active-trace.error {
    background-color: #ffa080;
}

/***********************************************************************/

.right-pane .prop-list-view,
.right-pane .xcode-view {
    margin-bottom: 24px;
    margin-top: 6px;
}

.right-pane .xcode-line > .xgutter {
    text-align: right;
    white-space: nowrap;
    padding-right: 12px;
    padding-left: 4px;
    color: #808080;
    min-width: 28px;
}

.xcode-view.consts .xcode-line > .xgutter {
    padding-left: 0;
}

.right-pane .xcode-line > .xcode {
    padding-left: 4px;
    padding-right: 4px;
}

.xcode-view.ir .xcode-line:hover {
    filter: invert(100%);
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line {
    background-color: #fafafa;
}

.xcode-view.ir .xcode-line > .xgutter {
    padding-right: 0px;
}

/***********************************************************************/

.g-wrapper {
    display: table;
    margin: 0 auto;
}

.g-trace-thumb > text {
    font-weight: 300;
    font-size: 14px;
}
.g-trace-thumb > .g-ring {
    stroke: #000000;
    fill: #e6e6e6;
}
.g-trace-thumb > .g-outter-ring {
    stroke: #000000;
    fill: transparent;
}

.g-trace-thumb:hover > .g-ring {
    fill: #e0ff30;
}

.g-trace-thumb.active > .g-outter-ring {
    stroke: #337ab7;
}
.g-trace-thumb.active > .g-ring {
    fill: #337ab7 !important;
    stroke: #337ab7;
}
.g-trace-thumb.active > text {
    fill: #ffffff;
}

.g-trace-thumb.error > .g-ring {
    stroke: red;
    fill: #ffe6e6;
}
.g-trace-thumb.error > .g-outter-ring {
    stroke: red;
}
.g-trace-thumb.error > text {
    fill: red;
}
.g-trace-thumb.error:hover > .g-ring {
    fill: #e0ff30;
}

.g-trace-thumb.error.active > .g-ring {
    fill: red !important;
    stroke: red;
}
.g-trace-thumb.error.active > .g-outter-ring {
    stroke: red;
}
.g-trace-thumb.error.active > text {
    fill: #ffffff;
}

/***********************************************************************/

.g-trace-link > path {
    stroke: #000000;
}
.g-trace-link > polygon {
    fill: #000000;
}
.g-trace-link.stitch > path {
    stroke-dasharray: 1 3;
    stroke-linecap: round;
}

/***********************************************************************/
.github-url {
    border: 0;
    position: absolute;
    bottom: 0;
    right: 4px;
    color: rgb(12,12,12) !important;
}
@media (max-width: 960px) {
    .github-url { display: none; }
}
.github-url:hover .octo-arm { animation:octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
